@supports (align-content: center) {
    .content {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .content {
        text-align: center;
    }
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: 1100px) {
    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 1180px;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }
}

.text {
    font-size: 36px;
    font-family: 'Exo 2';
    color: white;
}

.flexBlock {
    display: flex;
    justify-content: space-between;
    margin: 23px 0;
    width: 100%;
}

@media (max-width: 1099px) {
    .flexBlock {
        flex-wrap: wrap;
        justify-content: center;
        margin: 13px 0;
    }

    .content {
        padding-top: 25px;
    }
}

@media (max-width: 768px) {
    .flexBlock {
        flex-direction: column;
        align-items: center;
    }

    .text {
        font-size: 32px;
    }
}

@media (max-width: 460px) {
    .text {
        font-size: 22px;
    }
}
